In [ ]:
import requests
import pandas as pd

In [ ]:
cle_API = "a7HvOYUPe00fpCMXY5UuG_cU2JxDAG6v"

In [ ]:
def get_crypto_prices(cle_API , symbol, start, end):
    api_key = 'YOUR API KEY'
    api_url = f'https://api.polygon.io/v2/aggs/ticker/X:{symbol}USD/range/1/day/{start}/{end}?unadjusted=true&sort=asc&apiKey={cle_API}'
    raw = requests.get(api_url).json()
    df = pd.DataFrame(raw['results']).set_index('t')[['o', 'h', 'l', 'c', 'v']]
    df = df.rename(columns = {'o':'open', 'h':'high', 'l':'low', 'c':'close', 'v':'volume'})
    df.index = pd.to_datetime(df.index, unit = 'ms')
    return df

In [ ]:
eth = get_crypto_prices(cle_API, 'ETH', '2023-01-01', '2023-06-29')

In [ ]:
eth

               open    high      low    close         volume
t
2023-01-01  1195.17  1205.9  1190.03  1199.92  121437.628276
2023-01-02  1199.85  1225.6  1192.41  1213.69  194917.539675
2023-01-03  1213.77  1221.5  1204.04  1214.21  205072.870909
2023-01-04  1214.21  1273.3  1212.17  1257.50  389091.879195
2023-01-05  1256.35  1260.5  1239.97  1250.88  251600.238055
...             ...     ...      ...      ...            ...
2023-06-24  1893.74  1907.0  1865.64  1875.87   60954.295239
2023-06-25  1876.70  1930.9  1869.24  1899.73   96376.123814
2023-06-26  1899.80  1909.8  1836.25  1859.19  113936.986083
2023-06-27  1859.19  1913.8  1855.41  1889.79  119215.402591
2023-06-28  1889.77  1891.9  1816.00  1827.37  126270.992046

[179 rows x 5 columns]